{% extends "base.html" %}
{% block title %}Registration Page{% endblock %}
{% block extra_head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='Css/registration.css') }}" />
{% endblock %}
{% block content %}
  <main class="main-content-wrapper py-5 bg-light">
    <div class="main-content">
      <div class="title-box">
        <h3>Register now to start Exploring!</h3>
      </div>
      <div class="container bg-white p-4 rounded shadow-sm">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <div class="flash-container">
            {% for category, msg in messages %}
              <div class="flash {{ category }}">{{ msg }}</div>
            {% endfor %}
          </div>
        {% endif %}
        {% endwith %}
        <form id="registrationForm" action="{{ url_for('auth.register') }}" method="post" class="">
          {{ form.hidden_tag() }}
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="abc@analyticsinstitute.edu.au" required />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="12 characters or longer" required />
          </div>
          <div class="mb-3">
            <label for="role" class="form-label">Role</label>
            {{ form.role(class="form-select") }}
          </div>
          <button type="submit" class="btn btn-primary w-100">Register</button>
        </form>
      </div>
    </div>
  </main>
{% endblock %}
{% block extra_js %}
  <script src="{{ url_for('static', filename='Js/registration.js') }}"></script>
{% endblock %}
